@charset "UTF-8";

body {}

header {
  position: fixed;
  width: 100%;
  background: rgba(255, 255, 255, .5);
  transition: all 500ms ease-in;
  z-index: 100;
}

.header_in {
  max-width: 1240px;
  margin: auto;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

header h1 {}

header h1 i {
  font-size: 1em;
  color: burlywood;
  margin-right: 20px;
  vertical-align: top;
}

header h1 span {
  font-size: 2em;
  font-family: 'Noto Sans KR', sans-serif;
  font-family: 'Pacifico', cursive;
}

header nav {}

header nav ul:after {
  display: block;
  content: '';
  clear: both;
}

header nav ul>li {
  float: left;
}

header nav ul>li>a {
  display: block;
  padding: 15px;
  font-size: 18px;
}

header nav ul>li>a:hover {
  color: orangered;
}

header.on {
  background: #000;
  color: white;
}

header.on .header_in {
  height: 50px;
}

header.on i {
  font-size: 1em;
}

header.on span {
  font-size: 1.5em;

}

header.on nav ul>li>a {
  font-size: 14px;
  padding: 15px;
}

.trigger, .close {
  display: none;
}


section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btnDown {
  width: 70px;
  height: 70px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.btnDown span {
  display: block;
  width: 50px;
  height: 50px;
  border: 2px solid black;
  transform: rotate(-45deg);
  border-top-color: transparent;
  border-right-color: transparent;
  font-size: 0;
  color: transparent;
  transition: 500ms;
}

.btnDown:hover span {
  border-color: orange;
  margin: 10px;
  border-top-color: transparent;
  border-right-color: transparent;
}


.top span {
  transform: rotate(135deg);
}

section h2 {
  font-size: 3rem;
  margin-bottom: 50px;
}

#s1 {
  background: lightblue;
  height: 100vh;
}

#s2 {
  background: lightcoral;
  height: 768px;
}

#s3 {
  background: lightgoldenrodyellow;
  height: 1100px;
}

#s4 {
  background: lightgreen;
  height: 500px;
}

#s5 {
  background: lightyellow;
  height: 1300px;
}

#s6 {
  background: lightseagreen;
  height: 400px;
}

/* 990보다 작을 때 */
@media (max-width:989px) {
  .header_in {
    width: 100%;
    height: 80px;
  }

  header h1 i {
    font-size: 1.5em;
    margin-right: 10px;
  }

  header h1 span {
    font-size: 1.6em;
  }

  header nav ul>li>a {
    padding: 12px;
    font-size: 16px;
  }
}

/* 761보다 작을 때 - 모바일 상태*/
@media (max-width:760px) {

  header nav {
    position:fixed;
    top:0;
    right:-100%;
    bottom:0;
    width:300px;
    background: white;
    color:black;
    z-index:100;
    box-shadow: 0 0 50px rgba(0, 0, 0, .5);
    transition: 0.5s ease-in;
  }
  header nav.active{
    right:0;
  }
  .trigger, .close {
    display: block;
  }

  .trigger i {
    font-size: 20px;
  }

  .close{
    position:absolute;
    left:20px;
    top:20px;
    background: transparent;
  }
  .close i {
    font-size: 30px;
  }

  header.on {
    background: #053aa4;
  }

  

  header nav ul:after {
    display: block;
    content: '';
    clear: both;
  }
  header nav ul{
    padding:100px 0 0 30px;
  }

  header nav ul>li {
    float: none;
  }

  header nav ul>li>a {
    padding: 20px;
    font-size: 20px;
  }

  header nav ul>li>a:hover {
    color: orangered;
    }

  header.on nav ul>li>a {
    font-size: 20px;
    padding: 20px;
  }
}