@charset "UTF-8";

body {}

header {
  position: fixed;
  width: 100%;
  background: rgba(255, 255, 255, .5);
  transition: all 500ms ease-in;
}

.header_in {
  max-width: 1240px;
  margin: auto;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {}

header h1 i {
  font-size: 1em;
  color: burlywood;
  margin-right: 20px;
  vertical-align: top;
}

header h1 span {
  font-size: 2em;
  font-family: 'Noto Sans KR', sans-serif;
  font-family: 'Pacifico', cursive;
}

header nav {}

header nav ul:after {
  display:block;
  content:'';
  clear:both;
}

header nav ul>li {
  float:left;
}

header nav ul>li>a {
  display: block;
  padding:15px;
  font-size: 18px;
}
header nav ul>li>a:hover{
  color:orangered;
}
header.on{
  background: #000;
  color:white;
}
header.on .header_in{
  height: 50px;
}
header.on i{
 font-size:1em;
}
header.on span{
  font-size:1.5em;
  
}
header.on nav ul>li>a{
  font-size: 14px;
  padding:15px;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btnDown {
  width: 70px;
  height: 70px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.btnDown span {
  display: block;
  width: 50px;
  height: 50px;
  border: 2px solid black;
  transform: rotate(-45deg);
  border-top-color: transparent;
  border-right-color: transparent;
  font-size: 0;
  color:transparent;
  transition: 500ms;
}

.btnDown:hover span {
  border-color: orange;
  margin: 10px;
  border-top-color: transparent;
  border-right-color: transparent;
}

section h2 {
  font-size: 3rem;
  margin-bottom: 50px;
}

#s1 {
  background: lightblue;
  height: 100vh;
}

#s2 {
  background: lightcoral;
  height: 768px;
}

#s3 {
  background: lightgoldenrodyellow;
  height: 1100px;
}

#s4 {
  background: lightgreen;
  height: 500px;
}

#s5 {
  background: lightyellow;
  height: 1300px;
}

#s6 {
  background: lightseagreen;
  height: 400px;
}